<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous">

    {% import 'navBar.jinja2' as nav %}
</head>
<body style="background-color:#dee7e6;">
<header>
            {{ nav.renderNavBar(name,id) }}
</header>
<br>
    <div class="container">
        <div class="row justify-content-center">
                    <div class="col-12">
            <br>
            <h1 class="text-center">Fonctionnalités Admin</h1>
        </div>
            <div class="col-12 col-md-4">
            <br>
                <div class="card">
                    <div class="text-center"><strong>Taf</strong></div>
                    <div class="card-body">
                    {% for taf in Tafs %}
                        <a class="link-dark taf" href="{{url_for("ShowTaf",name=name,TafCode=taf.code,id=id )}}">{{  taf.code}}</a>
                    {% endfor %}
                        <form action="{{url_for("adminTab",name=name)}}" method="post">
                            {{ formTaf.hidden_tag() }}
                            <div>
                                <label>Nom de la TAF : </label>
                                {{formTaf.code }}
                                <label>Abréviation : </label>
                                {{formTaf.taf_name }}
                            </div>
                            <input class="btn btn-outline-success" type="submit" value="Créer">
                        </form>
                    </div>
                </div>
                            <div class="card">
                    <div class="text-center"><strong>Promo</strong></div>
                    <div class="card-body">
                        <form action="{{url_for("adminTab",name=name)}}" method="post">
                                    {{ formClassProm.hidden_tag() }}
                            <div>
                                {{formClassProm.year }}
                            </div>

                                {{formClassProm.student }}

                            <input type="submit">
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="text-center"><strong>Creer une nouvelle entreprise</strong></div>
                    <div class="card-body">
                        <form action="{{url_for("adminTab",name=name)}}" method="post">
                                    {{ entrepriseForm.hidden_tag() }}
                            <div>
                                {{entrepriseForm.name }}
                            </div>
                            <input type="submit">
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-12 col-md-4">
                <br>
                <div class="card">
                    <div class="text-center"><strong>Ajouter nouvel éleve</strong></div>
                    <div class="card-body">
                        <form action="{{url_for("adminTab",name=name)}}" method="post">
                             {{ NewStudentForm.hidden_tag() }}
                            <div>
                                {{ NewStudentForm.name }}
                                {{ NewStudentForm.surname }}
                                {{ NewStudentForm.year }}
                                {{ NewStudentForm.taf1 }}
                                {{ NewStudentForm.etat_civil }}
                                {{ NewStudentForm.email }}
                            </div>
                            <input type="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>