
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    {% import 'accordion_year.jinja2' as ay %}
    {% import 'navBar.jinja2' as nav %}
</head>
<body>
<header>
            {{ nav.renderNavBar(name,id) }}
        </header>
<ul class="container">
    <form action="{{url_for("changeClientInfo",name=Namecompte, id=Id)}}" method="post">
    <div class="row"><div class="col-12"><p class="text-center">
        <strong>Promotion {{ classProm.year }}-{{classProm.year+1}}</strong></p></div></div>
    <div class="row">
        <div class="col-12 col-md-6"><div class="card">
    <div class="card-body">

    <label>Add Taff Students </label>
    {{ formProfile.hidden_tag()}}
    <ul>
        <li>
    <label>nom </label>
        {{ formProfile.name}}
        </li>
        <li>
        <label>prenom </label>
        {{ formProfile.surname}}
        </li>
        <li>
        <label for="year">email </label>
        {{ formProfile.email}}
        </li>
        <li>
        <label for="year">etat_civil </label>
        {{ formProfile.etat_civil}}
        </li>
        <li>
        <label for="year">poste </label>
        {{ formProfile.post}}
        </li>
        <input type="submit">
    </ul>

</div>
</div></div>
        <div class="col-12 col-md-6"> <div class="card"> <form>
        {{ay.render_accordion(formProfile,classProm.year,currentYear)}}
      </form></div>
</div></div>
</form>
</ul>
</body>
</html>