<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous">

    {% import 'navBar.jinja2' as nav %}
</head>
<body style="background-color:#dee7e6;">
<header>
            {{ nav.renderNavBar(name,id) }}
</header>
<br>
            <p class="text-start text-center"> Nombre d’entreprises : {{ NbreEntreprise }}</p>
            <br>
<div class="container">
    <div class="row">
        <table class="table table-bordered border-dark col-10">
                        <thead>
                            <tr>
                                <th>Entreprises</th>
                                {% if name=='Admin' %}
                                     <th>Action</th>
                                {% endif %}

                            </tr>
                        </thead>
                        <tbody >
                            {% for entreprise in Entreprise %}
                            <tr>{% if entreprise.entreprise_id == idE %}
                                <form action="{{ url_for("modifierEntreprise",name=name,id=entreprise.entreprise_id)}}" method="post">
                                {{ entrepriseform.hidden_tag() }}
                                <td >{{ entrepriseform.name }}<td>
                                        <input class="btn btn-success" type="submit"  value = "valider modification">
                                </form>
                                {% else %}
                                <td >
                                    <a class="link-dark taf" href="{{ url_for("EntrepriseTabList",name=name,idEntreprise=entreprise.entreprise_id) }}">{{ entreprise.name }}</a></td >

                                {% if name=='Admin' %}
                                     <td>
                                     <div class="container">
                                         <div class="row">
                                             <div class="col-6">
                                     <form action="{{ url_for("supprimerEntreprise",name=name,id=entreprise.entreprise_id) }}">
                                        <input class="btn btn-danger" type="submit"  value = "supprimer"> </form>
                                                 </div><div class="col-6">
                                     <form action="{{ url_for("modifierEntreprise",name=name,id=entreprise.entreprise_id) }}">
                                         <input class="btn btn-success" type="submit"  value = "modifier"> </form></div>
                                             </div>
                                         </div>
                                     </td>
                                {% endif %}
                            {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
    </div>
</div>


</body>
</html>