<html>
<head>
    <title>Sport management</title>
</head>
<body>
    <title>Student</title>
    {% for student in Students %}
        <div>{{ student.name }} {{ student.surname }}{{ student.id }}</div>
    {% endfor %}
    <title>Taf</title>
    {% for taf in Taf %}
        <div>{{ taf.name }} {{ taf.code }}{{ taf.id }}</div>
    {% endfor %}
    {% for ts in TafStudent %}
        <div>{{ ts.student_id }} {{ ts.taf_id }}{{ ts.year }}</div>
    {% endfor %}
        <form action={{url_for("add_record")}}>
            <input type="submit" value="Add to db" />
        </form>
</body>
</html>