{% macro renderNavBar(name,id) %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style ="padding-left: 8px; padding-right: 8px;">
                <img src="/static/image/IMT_Logo_fond_noir.png" width="10%" alt="">
                <a class="navbar-brand">Annuaire Alumni</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                      <a class="nav-item nav-link text-center" href="{{url_for("tableaux",name=name)}}">Tableau de bord</a>
                      <a class="nav-item nav-link text-center" href="{{url_for("prom",name=name)}}">Promotion</a>
                      <a class="nav-item nav-link text-center" href="#">Entreprises</a>
                    </div>
                </div>

                {% if name != "Admin" %}
                <form class="collapse navbar-collapse justify-content-end text-center" id="navbarNav" action={{url_for("showClientInfo",name=name,id=id)}}>
                    <input class="btn btn-outline-success " type="submit" value = "Profile">
                </form>
                {% else %}
                <form class="collapse navbar-collapse justify-content-end text-center" id="navbarNav" action={{url_for("adminTab",name=name)}}>
                    <input class="btn btn-outline-success " type="submit" value = "Admin features">
                </form>
                {% endif %}
            </nav>
{% endmacro %}