.range-input {
  -webkit-appearance: none;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #007bff;
  border-radius: 50%;
  box-shadow: 0 0 5px #007bff;
  cursor: pointer;
}

.range-input::-webkit-slider-thumb:first-child {
  z-index: 2;
}

.range-input::-webkit-slider-thumb:last-child {
  z-index: 1;
}
